body{
	margin: 0 auto;
	margin: 0;
	padding: 0;
	background-color:#2e3e73;
	color: white;
	box-sizing: border-box;

}


.nav-bar{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 30px;
	max-width: 100%;

}

.arsha{
	font-size: 130%;
	letter-spacing: 4px;
	color: white;
	text-decoration: none;
	margin-left: 50px;


}

 .header-items{
	margin-right: 40px;
	text-decoration: none;

}

.header-items:hover{
	background: brown;
	color: blue;
}

.get_started{
	border: 1px solid cyan;
	border-radius: 30px;
	padding: 15px;
	margin-right: 30px;
}


a{
	text-decoration: none;
	color: white;

}

.main{
	margin-top: 140px;
	margin-left: 100px;
	
}
.better_solution{
	font-size: 200%;
	width: 300px;
	color: white;
}

.bootstrap{
	font-size: normal;
	width: 300px;

}

.get_watch{
	display: flex;
}

.started{
	color: white;
	border: 2px solid;
	border-radius: 50px;
	background: cyan;
	padding: 10px;
}

.started:hover{
	color: red;
	background: burlywood;
}

.watch_video{
	margin: 10px;
	background: none;
	border: none;
	font-weight: bold;
}


.watch_video:hover{
	color: red;
	background: burlywood;
}

.image{
	border: 1px solid;
	border-radius: 30px;
	padding: 1px;
	margin-right: 2px;

}

.img{
	display: flex;
	float: right;
	margin-left: 40%;
	margin-top: -7%;
	margin-right: 10%;
}


.border{
	border: 3px solid cyan;
	margin-left: 30px;
	width: 150px;
}




























